{% extends '_layout/_index.html.twig' %}

{% block title %}Vos Préférences{% endblock %}

{% block body_class %}settings{% endblock %}

{% block main %}
    <header>
        <h1>Vos Préférences</h1>
    </header>

    {% set context = app_contextService.context(app.user) %}
    <header>
        <p class="app-text nobg">
            {% if context['location']['name'] or context['mood'] %}
                Vous êtes
                {% if context['mood'] %}
                    <span>{{ context['mood'] }}</span>{% if context['location']['name'] | length > 0 %},{% else %}.{% endif %}
                {% endif %}
                {% if context['location']['name'] %}
                    <span>{{ context['location']['description'] }}</span>.
                {% endif %}
                <br/>
            {% endif %}

            Nous sommes
            <span>{{ context['dayOfWeek'] | title }}</span>
            {% if context['timeOfDay'] == 'nuit' %}, c'est la{% endif %}
            <span>{{ context['timeOfDay'] }}</span>,
            <br/>
            et nous sommes
            {% if context['season'] == 'printemps' %}au{% else %}en{% endif %}
            <span>{{ context['season'] }}</span>.
        </p>
    </header>

    <section class="app-section">
        <p class="app-text">
            Choisissez votre
            <strong>lieu actuel</strong>, si vous souhaitez que cette préférence soit prise en compte dans les suggestions.
            Vous pouvez bien sûr <a href="{{ path('app_settings_location_edit') }}">modifier vos lieux préférés</a>.
        </p>

        <div class="locations">
            {% for location in app.user.locations %}
                <a href="{{ path('app_settings_location_define', {'slug': location.slug}) }}" class="{% if app.user.location != location %}inactive{% endif %}" title="{{ location.description }}">
                    {{ ux_icon('mdi:location', {'class': 'app-icon'}) }}
                    {{ location.name }}
                </a>
            {% endfor %}
        </div>

        <p class="app-text">
            Choisissez votre
            <strong>humeur</strong> du moment afin d'affiner les suggestions. Si vous n'en choisissez aucune, le mode
            <strong>aléatoire</strong> sera activé et toute votre collection sera prise en compte.
        </p>

        <div class="moods">
            {% for mood in app_moodService.moods %}
                <a href="{{ path('app_settings_mood', {'slug': mood.slug}) }}" class="{% if app.user.mood != mood %}inactive{% endif %}" title="{{ mood.name }}">
                    {{ ux_icon(mood.icon, {'class': 'app-icon'}) }}
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
