{% extends 'hub/_layout/_index.html.twig' %}

{% block title %}Détails d'un Album{% endblock %}

{% block body_class %}hub view{% endblock %}

{% block main %}
    <header class="app-controls">
        <div class="app-search">
            <a href="javascript: history.go(-1);" class="filter" title="Retour">
                {{ ux_icon('mdi:arrow-back-circle', {'class': 'app-icon'}) }}
            </a>
        </div>

        <h1 class="app-pagetitle">Détails d'un Album</h1>

        <div class="app-manage">
            <a href="{{ path('app_hub_edit', {'slug': album.slug}) }}" class="edit">
                {{ ux_icon('mdi:edit', {'class': 'app-icon'}) }}
            </a>

            <a href="{{ path('app_hub_delete', {'slug': album.slug}) }}" class="delete" onclick="return window.confirm('Supprimer cet album ?')">
                {{ ux_icon('mdi:delete', {'class': 'app-icon'}) }}
            </a>
        </div>
    </header>


    <section class="app-section">
        <div class="app-card">
            <div class="card-header">
                <img src="{{ asset('uploads/album/' ~ album.cover) }}" alt="{{ album.title }}" class="card-image"/>
            </div>

            <div class="card-body">
                <p class="card-subtitle">{{ album.artist.name }}</p>
                <p class="card-title">
                    {{ album.title }}
                </p>
                <p class="card-text">
                    {{ album.genre.name }}
                    {{ album.style.name }}
                    -
                    {{ album.year }}
                    -
                    {{ album.artist.country.name }}
                </p>

                <div class="infos">
                    {% for mood in app_moodService.moods %}
                        <a href="{{ path('app_hub_mood', {'albumId': album.id, 'moodId': mood.id}) }}" class="{% if mood not in album.moods %}inactive{% endif %}" title="{{ mood.name }}">
                            {{ ux_icon(mood.icon, {'class': 'app-icon'}) }}
                        </a>
                    {% endfor %}
                </div>

                <p class="app-text">
                    <strong>Nombre d'écoutes :</strong>
                    {{ app_historyService.albumHistory(album)['playCount'] }}
                    <br/>
                    <strong>Dernière écoute :</strong>
                    {% if app_historyService.albumHistory(album)['lastPlayedDate'] %}
                        {{ app_historyService.albumHistory(album)['lastPlayedDate'] | date('d/m/Y à H:i') }}
                    {% else %}
                        —
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
{% endblock %}
