{% extends 'hub/_layout/_index.html.twig' %}

{% block title %}Détails d'un Album{% endblock %}

{% block body_class %}form{% endblock %}

{% block main %}
    <header class="app-controls">
        <div class="app-search">
            <a href="{{ path('app_hub_home') }}" class="filter" title="Retour">
                {{ ux_icon('mdi:arrow-back-circle', {'class': 'app-icon'}) }}
            </a>
        </div>

        <h1 class="app-pagetitle">Détails d'un Album</h1>

        <div class="app-manage">
            <a href="{{ path('app_hub_edit', {'slug': album.slug}) }}" class="edit">
                {{ ux_icon('mdi:edit', {'class': 'app-icon'}) }}
            </a>

            <a href="{{ path('app_hub_delete', {'slug': album.slug}) }}" class="delete" onclick="return window.confirm('Supprimer cet album ?')">
                {{ ux_icon('mdi:delete', {'class': 'app-icon'}) }}
            </a>
        </div>
    </header>


    <section class="app-section">
        <div class="app-card full">
            <div class="card-header">
                <img src="{{ asset('uploads/album/' ~ album.cover) }}" alt="{{ album.title }}" class="card-image"/>
            </div>

            <div class="card-body">
                <p class="card-subtitle">{{ album.artist.name }}</p>
                <p class="card-title">
                    {{ album.title }}
                </p>
                <p class="card-title">
                    {{ album.genre.name }}
                    {{ album.style.name }}
                    -
                    {{ album.year }}
                    -
                    {{ album.artist.country.name }}
                </p>
                <div class="infos">
                    <a href="#" class="inactive">
                        {{ ux_icon('fa6-solid:hand-fist', {'class': 'app-icon'}) }}
                    </a>
                    <a href="#">
                        {{ ux_icon('fa6-solid:peace', {'class': 'app-icon'}) }}
                    </a>
                    <a href="#">
                        {{ ux_icon('mdi:heart', {'class': 'app-icon'}) }}
                    </a>
                    <a href="#">
                        {{ ux_icon('fa6-solid:champagne-glasses', {'class': 'app-icon'}) }}
                    </a>
                    <a href="#">
                        {{ ux_icon('rivet-icons:sad', {'class': 'app-icon'}) }}
                    </a>
                    <a href="#">
                        {{ ux_icon('ri:focus-2-fill', {'class': 'app-icon'}) }}
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
