<header class="app-controls">
    <div class="app-search">
        <a href="#" class="search" title="Recherche avancée">
            {{ ux_icon('mdi:magnify', {'class': 'app-icon'}) }}
        </a>
        <a href="#" class="filter" title="Filtrer">
            {{ ux_icon('mdi:filter', {'class': 'app-icon'}) }}
        </a>
    </div>

    <h1 class="app-pagetitle">{{ page_title }}</h1>

    <div class="app-manage">
        <a href="#" class="playlists" title="Gestion des Playlists">
            {{ ux_icon('mdi:playlist-music-outline', {'class': 'app-icon'}) }}
        </a>
        <a href="#" class="add" title="Nouvel Album">
            {{ ux_icon('mdi:disc', {'class': 'app-icon'}) }}
        </a>
    </div>
</header>
