<div class="app-component" {{ attributes }}>
    {% set data = this.getAlbums(app.user.id) %}
    {% set albums = data.albums %}
    {% set pagination = data.pagination %}

    <header class="app-controls">
        <div class="app-search">
            <a href="{{ path('app_hub_search') }}" class="search" title="Recherche avancée">
                {{ ux_icon('mdi:magnify', {'class': 'app-icon'}) }}
            </a>
            <a href="#"
               class="filter {% if this.artist or this.album or this.genre or this.style or this.year or this.country %}filtered{% endif %}"
               title="Filtrer" data-controller="filter" data-action="click->filter#toggle">
                {{ ux_icon('mdi:filter', {'class': 'app-icon'}) }}
            </a>
        </div>

        <h1 class="app-pagetitle">
            Votre Collection ({{ pagination.getTotalItemCount }})
        </h1>

        <div class="app-manage">
            <a href="#" class="playlists" title="Gestion des Playlists">
                {{ ux_icon('mdi:playlist-music-outline', {'class': 'app-icon'}) }}
            </a>
            <a href="{{ path('app_hub_import') }}" class="add {% if app.request.get('_route') == 'app_hub_import' or app.request.get('_route') == 'app_hub_add' %}active{% endif %}" title="Nouvel Album">
                {{ ux_icon('mdi:disc', {'class': 'app-icon'}) }}
            </a>
        </div>
    </header>

    <section class="app-section">
        {% include 'hub/default/_component/_filters.html.twig' %}
        {% include 'hub/default/_component/_grid.html.twig' %}
        {% if pagination.pageCount > 1 %}
            <div class="app-pagination">
                <div class="previous">
                    <a href="#" {{ live_action('changePage', {page: 1}) }} class="{% if pagination.currentPageNumber <= 1 %}disabled{% endif %}" onclick=" return false">
                        {{ ux_icon('mdi:page-first', {'class': 'app-icon'}) }}
                    </a>
                    <a href="#" {{ live_action('changePage', {page: pagination.currentPageNumber - 1}) }} class="{% if pagination.currentPageNumber <= 1 %}disabled{% endif %}" onclick="return false">
                        {{ ux_icon('mdi:navigate-before', {'class': 'app-icon'}) }}
                    </a>
                </div>

                <div class="pages">
                    {% set pageRange = 6 %}
                    {% set halfRange = (pageRange // 2) - 1 %}

                    {% set startPage = max(1, pagination.currentPageNumber - halfRange) %}
                    {% set endPage = min(pagination.pageCount, startPage + pageRange - 1) %}

                    {% if pagination.currentPageNumber <= halfRange + 1 %}
                        {% set startPage = 1 %}
                        {% set endPage = min(pageRange, pagination.pageCount) %}
                    {% endif %}

                    {% if pagination.currentPageNumber > (pagination.pageCount - halfRange - 1) %}
                        {% set startPage = max(1, pagination.pageCount - pageRange + 1) %}
                        {% set endPage = pagination.pageCount %}
                    {% endif %}

                    {% for page in range(startPage, endPage) %}
                        <a href="#" {{ live_action('changePage', {page: page}) }}
                           class="{{ page == pagination.currentPageNumber ? 'active' : '' }}"
                           onclick="return false">
                            {{ page }}
                        </a>
                    {% endfor %}
                </div>

                <div class="next">
                    <a href="#" {{ live_action('changePage', {page: pagination.currentPageNumber + 1}) }} class="{% if pagination.currentPageNumber >= pagination.pageCount %}disabled{% endif %}" onclick="return false">
                        {{ ux_icon('mdi:navigate-next', {'class': 'app-icon'}) }}
                    </a>
                    <a href="#" {{ live_action('changePage', {page: pagination.pageCount}) }} class="{% if pagination.currentPageNumber >= pagination.pageCount %}disabled{% endif %}" onclick="return false">
                        {{ ux_icon('mdi:page-last', {'class': 'app-icon'}) }}
                    </a>
                </div>
            </div>
        {% endif %}
    </section>
</div>
